#align{
    margin: 1%;
    padding: 2%;
    padding-left: 10%;
}
.align{
    margin: 1%;
}
#quiz{
    border: 2%;
    border-color: rgb(6, 49, 105);
    border-style: solid;
    margin: 2%;
    padding: 5%;
}
.design{
    padding-left: 25%;
}