<h3>Gallery of previous seasons</h3>
<div class="row">
    <img src="../../../assets/srh.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/kkr.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/csk.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/rr.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/ms.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/virat.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/kane.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/toss.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/kxip.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/raina.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/dv.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/sachin.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/dhoni_helicaptor.jpeg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/dd.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/bhuvi.jpg" class="img-fluid" alt="Sample image with waves effect.">
    <img src="../../../assets/dd18.jpg" class="img-fluid" alt="Sample image with waves effect.">
</div>