<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to Vardhaman college of engineering</h1><br>
            <p class="lead">Vardhaman College of Engineering was established in 1999.  We are one of the top 10 engineering colleges in Hyderabad. We are affiliated with Jawaharlal Nehru Technological University, Hyderabad (JNTUH), and was approved by AICTE, New Delhi. We are accredited by National Board of Accreditation and also by National Assessment and Accreditation Council.Recently UGC(university grants commission) awarded autonomous status to the college for 6 years.</p>
            <p class="lead">Vardhaman is one of the fastest growing colleges in the city of Hyderabad. It is in a serene location in the outskirts of the city. The college has a new state-of-the-art auditorium, seminar hall, library and a separate building for the placement cell. We have an excellent transportation facility with around 32 buses to all the parts of the city.</p>
        </div> 
        <marquee> 
            <div class="row">
                <img src='../../assets/new-icon.gif' alt='new-icon'>
                <h5><br>VII SEM Results have been released check in results portal</h5>
            </div>
        </marquee>
    </div>
    <iframe width="350" height="180" src="https://www.youtube.com/embed/IwZG8afdC-I"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
</div>