<div class="container">
  <div class="col">
          <img src="../../assets/logo1.png" class="img-fluid" alt="Sample image with waves effect.">
  </div>
    <div class="col">
        <ul class="nav nav-tabs">
          <li clas="active"><a routerLink="/">Home</a></li>
          <li><a routerLink="/schedule">Schedule</a></li>
          <li><a routerLink="/teams">Teams</a></li>
          <li><a routerLink="/winners" (click)="onClick()">Winners</a></li>
          <li><a routerLink="/gallery">Gallery</a></li>
        </ul>
    </div>
    

      <router-outlet></router-outlet>
</div>

