<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <img src='../../assets/icon.png' alt="vardhaman" width="80" height="75"><br>
    <h3 class="my-0 mr-md-auto font-weight-normal">Vardhaman College of Engineering</h3>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" routerLink='/' active>Home</a>
        <a class="p-2 text-dark" routerLink='/branch'>Courses</a>
        <a class="p-2 text-dark" routerLink='/students'>Students portal</a>
        <a class="p-2 text-dark" routerLink='/admission'>Admission</a>
        <a class="p-2 text-dark" routerLink='/search'>Search</a>
        <a class="p-2 text-dark" routerLink='/results'>Results</a>
    </nav> 
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

