.card-body{
    border-color:rgb(8, 60, 105);
    border-style: solid;
    
    background-color: rgb(211, 230, 247);
    color: rgb(2, 11, 32);
    
}
.card-header{
    background-color: rgb(8, 60, 105);
    color: white;
    
}
h1,h3,h6{
    text-align: center;
}
h2{
    color:rgb(4, 9, 73);
    text-align: center;
}
.jumbotron{
    background-color: rgb(8, 60, 105);
    color:white;
}
.modal-header{
    background-color: rgb(8, 60, 105);
    color:#fff;
}
.close{
    color:#fff;
}
