<h1>Movies currently playing in Theaters</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body">
                <strong class="d-inline-block mb-2 text-primary">Attarintiki Daredhi</strong>
                <p>cast:</p>
                <p>PawanKalyan,Samantha,Nadiya</p>
                <p>Music director: DSP</p>
                <p>Director: Trivikram Srinivas</p>
            </div>
            <img src="../../assets/Attarintiki-Daaredi-movie-img.jpg" alt="image"  width="200" height="250">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body">
                <strong class="d-inline-block mb-2 text-primary">Srimanthudu</strong>
                <p>cast:</p>
                <p>Maheshbabu,Sruthi hasan,Jagapathibabu</p>
                <p>Music director: DSP</p>
                <p>Director: Koratala Siva</p>
            </div>
            <img src="../../assets/srimanthudu-movie-img.jpg" alt="srimanthudu"  width="200" height="250">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body">
                <strong class="d-inline-block mb-2 text-primary">Bahubali</strong>
                <p>cast:</p>
                <p>Prabhas,Anushka,Rana</p>
                <p>Music director: M.M.Keeravani</p>
                <p>Director: S.S.Rajamouli</p>
            </div>
            <img src="../../assets/bahubali-movie-img.jpg" alt="image"  width="200" height="250">
        </div>
    </div>
</div>
<h1>Coming soon in your Theaters</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body">
                <strong class="d-inline-block mb-2 text-primary">Vinaya Vidheya Rama</strong>
                <p>Ram Charan,Kiara Advani,Vivek Oberoi</p>
                <p>Music director: DSP</p>
                <p>Director: Boyapati Srinu</p>
                <p>Release Date:11 JAN 2019</p>
            </div>
            <img src="../../assets/vvr-movie-img.jpg" alt="image"  width="200" height="250">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body">
                <strong class="d-inline-block mb-2 text-primary">Maharshi</strong>
                <p>Maheshbabu,Pooja hedge</p>
                <p>Music director: DSP</p>
                <p>Director: Vamshi Paidipally</p>
                <p>Release Date: April 2019</p>
            </div>
            <img src="../../assets/Maharshi-movie-img.jpg" alt="image"  width="200" height="250">
        </div>
    </div>
</div>