.design{
    padding: 5%;
    color:#fff;
    background-color: rgb(3, 49, 88);
    border-radius: 10px;
}
h1,h6{
    color: rgb(3, 49, 88);
    text-align: center;
}
.align{
    text-align: center;
}
img{
    padding: 5%;
}