.card {
    color:rgb(0, 0, 0);
    border-color: rgb(241, 185, 31);
    border-width: 5px;
}
h1{
    text-align: center;
    color: rgb(5, 38, 80);
}
.card-header{
    background-color: rgb(46, 45, 45);
    color: rgb(255, 187, 0);
}
.modal-header{
    background-color: rgb(46, 45, 45);
    color: rgb(255, 187, 0);
}
.close{
    color:#fff;
}